:root{
    --altura-topo: 120px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* margin-left: 34%; */
    /* overflow: hidden; */
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(45, 81, 173);
    color:aliceblue;
    border: 2px solid orange;
}



.geral{
    min-height: calc(100% - var(--altura-topo));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 50px; */

    border: 2px solid white;
}

.topo{

    width: 1200px;
    min-height: var(--altura-topo);

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
    border: 3px solid;
    border-radius: 8pt;
    box-shadow: 0 0 30px 0 rgba(230, 230, 230, 0.448);
    background: rgb(23, 43, 93);
    
    
    border: 2px solid red;
    
}

.conteudo{
    display: flex;
    gap: 16px;
    border: 2px solid black;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulo{
    /* margin-left: -22%; */
    /* margin-top: 5vh; */
    font-family: 'Bungee Spice', cursive;
    font-size: 50px;
    color: white;
}

#canvas-container {
    /* margin-top: -79px; */
    width: 624px;
    height: 395px;
    background: transparent;
    /* position: absolute; */
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 4px solid rgb(47, 47, 47);
    box-shadow: 5px 5px 5px 0 rgba(49, 49, 49, 0.394);
}

.air_bomb .air_bomb_buttom img{
    width: 200px;
    height: 200px;
    /* position: absolute; */
    /* margin-top: 7.5%; */
    /* margin-left: -6.3%; */
    background: transparent;
    border: none;
    transition: all .2s ease-in-out;
}

.air_bomb .air_bomb_buttom img:active {
    position: absolute;
    background: transparent;
    border: none;
    transform: scale(0.9);
    transition: all .2s ease-in-out;
}

.temp {
    /* margin-top: 150px; */
    /* margin-left: 55%; */
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.temp #mais {
    font-size: 30px;
    border: none;
    background: transparent;
    /* margin-left: -240%; */
    margin-right: 10px;
    color: rgb(2, 0, 63);
}

.temp #menos {
    font-size: 30px;
    border: none;
    background: transparent;
    /* margin-left: 10px; */
    color: rgb(2, 0, 63);
}

.temp #temp {
    padding: 2px;
    border: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    color: aliceblue;
    width: 300px;
    /* margin-top: 10px; */
}

.temp #mais:hover {
    color: rgb(255, 149, 0);
}

.temp #menos:hover {
    color: rgb(255, 149, 0);
}

.pres {
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* margin-left: 55%; */
}




aside .group-left {
    height: 400px;
    width: 200px;
    background-color: brown;
    /* margin-left: 100px; */
}

